*{
  margin: 0;
  padding: 0;
  font-family: "poppins",sans-serif;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading{
  background-image: linear-gradient(to bottom right, yellowgreen ,lightskyblue,lightgreen,pink);
  height: 400px;
  width: 600px;
  margin-top: 180px;
  padding: 20px;
  color: purple;
  border-radius: 20px;
  box-shadow: 0px 5px 15px lightskyblue,0px 5px 15px lightskyblue,0px 5px 15px lightskyblue,0px 5px 15px lightskyblue;
}
.heading input{
  padding: 10px;
  margin: 40px 0px 20px 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.heading input:focus{
  outline: none;
}
.heading button{
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(49, 0, 128);
  cursor: pointer;
}
.heading button:hover{
  background-color: purple;
  box-shadow: 0px 5px 15px purple,0px 5px 15px black ;
}
.heading .icon{
  position: absolute;
  margin-top: 48px;
  margin-left: -25px;
  font-size: 20px;
  cursor: pointer;
}